<!DOCTYPE html>
<html>
  <head>
    <title>Waldo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id='menu'>
      <ul>
        <li id='keyOption' class='menuOption'>
          <p id='toggleKeyLabel' class='menuLabel'>Key (00:00)</p>
          <ul id='keyContainer' class='menuDropdown'>
            <li><img src='assets/key.jpg'></li>
          </ul>
        </li>
        <li id='scenesOption' class='menuOption'>
          <p id='chooseSceneLabel' class='menuLabel'>Choose Scene</p>
          <ul id='scenes' class='menuDropdown'>
            <li id='scene1'><img src='assets/waldo1.jpg'></li>
            <li id='scene2'><img src='assets/waldo2.jpg'></li>
            <li id='scene3'><img src='assets/waldo3.jpg'></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id='container'>
      <div id='spotted'>
        <div class='circles' id='currentCircle'><div><div></div></div></div>
        <button id='identify'>Identify!</button>
        <ul id='targets'>
          <li>Waldo</li>
          <li>Wenda</li>
          <li>Woof</li>
          <li>Odlaw</li>
          <li>Whitebeard</li>
          <li>Scroll</li>
          <li>Camera</li>
          <li>Key</li>
          <li>Binoculars</li>
          <li>Bone</li>
        </ul> 
      </div>
      <img id='scene' src='assets/waldo1.jpg'> </div> 
    </div>
    </body>
  <script>
      var t = '<%= j @target.to_json.html_safe %>';
  </script>
</html>
